<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success created user</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/images/style.css">
</head>
<body>
<div class="container mt-7">
    <br><a th:href="@{/api/v1/hotel/filter}" class="btn btn-secondary">На главную</a>
    <div class="d-flex align-items-center justify-content-center min-vh-100">
        <h3>Регистрация прошла успешно</h3>
    </div>
</div>
</body>
</html>