<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Bookings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/images/style.css">
</head>
<body>
<div class="container mt-7">
    <div style="text-align: center;">
        <a th:href="@{/api/v1/hotel/filter}" class="btn btn-secondary float-left">На главную</a>
        <a th:href="@{/api/v1/user/profile}" class="btn btn-dark float-right">Личный кабинет</a>
    </div>
    <div>
        <form th:action="@{/api/v1/booking}" method="get">
            <table class="table table-striped">
                <h1 class="mb-4" style="text-align: center;">Все заказы</h1>
                <thead>
                <th>ID</th>
                <th>Дата заезда</th>
                <th>Дата выезда</th>
                <th>Информация о заказе</th>
                <th style="text-align: center;">Комната</th>
                <th style="text-align: center;">Заказчик</th>
                </thead>
                <tbody>

                <tr th:each="booking : ${bookings}">
                    <td>
                        <a th:href="@{/api/v1/booking/{id}(id=${booking.id})}" th:text="${booking.id}"></a>
                    </td>
                    <td th:text="${booking.busyFrom}"></td>
                    <td th:text="${booking.busyTo}"></td>
                    <td th:text="${booking.bookingInfo}"></td>
                    <td>
                        <a th:href="@{/api/v1/room/{id}(id=${booking.room.id})}" th:text="${booking.room.name}"></a>
                    </td>
                    <td>
                        <a th:href="@{/api/v1/user/{id}(id=${booking.user.id})}" th:text="${booking.user.id}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="pageSize">Размер страницы</label>
                    <input type="number" class="form-control" id="pageSize" name="pageSize"
                           th:value="${pageSize}" min="10" th:max="${max}">
                </div>
                <div class="form-group col-md-3">
                    <label for="pageNumber">Номер страницы</label>
                    <input type="number" class="form-control" id="pageNumber" name="pageNumber"
                           th:value="${pageNumber}" min="0" th:max="${max}">
                </div>
                <div class="col-md-3 mt-2">
                    <button type="submit" class="btn btn-secondary mt-4">Применить</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>